# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
database/migrations/dev.db
*.db
*.db-journal

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# PWA generated
apps/web/public/sw.js
apps/web/public/workbox-*.js
